<div class="nav">

    <div class="nav-text">
        <h1>
            Nós somos especialistas no que fazemos pois <br />
            somos conectados com o mundo, conectados <br />
            com o seu mundo.
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">.COMDEVELOPER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Empresa <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Clientes</a>
                <a class="nav-item nav-link" href="#">Serviços</a>
                <a class="nav-item nav-link" href="#">Contato</a>
            </div>
        </div>
    </nav>
</div>